@font-face {
    font-family: 'tahoma_regular';
    src: url('../fonts/tahoma/tahoma_regular_font-webfont.woff2') format('woff2'),
         url('../fonts/tahoma/tahoma_regular_font-webfont.woff') format('woff'),
         url('../fonts/tahoma/tahoma_regular_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tahoma bold';
    src: url('../fonts/tahoma/tahomabd-webfont.woff2') format('woff2'),
         url('../fonts/tahoma/tahomabd-webfont.woff') format('woff'),
         url('../fonts/tahoma/tahomabd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verdanabold';
    src: url('../fonts/verdana/verdanab-webfont.eot');
    src: url('../fonts/verdana/verdanab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/verdana/verdanab-webfont.woff2') format('woff2'),
         url('../fonts/verdana/verdanab-webfont.woff') format('woff'),
         url('../fonts/verdana/verdanab-webfont.svg#verdanabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenirblack';
    src: url('../fonts/avenir/avenir-black-webfont.eot');
    src: url('../fonts/avenir/avenir-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/avenir-black-webfont.woff2') format('woff2'),
         url('../fonts/avenir/avenir-black-webfont.woff') format('woff'),
         url('../fonts/avenir/avenir-black-webfont.ttf') format('truetype'),
         url('../fonts/avenir/avenir-black-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica/helvetica-webfont.eot');
    src: url('../fonts/helvetica/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helvetica-webfont.woff') format('woff'),
         url('../fonts/helvetica/helvetica-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helvetica-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica neue condensed bold';
    src: url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.eot');
    src: url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica_neue/helvetica_neue_condensed_bold-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
body p,
body span,
body li,
body table td,
body table th{
    font-family: 'tahoma_regular';
}
body h1,
body h2,
body h3,
body h4,
body h5{
    font-family:"helvetica neue condensed bold";
}
/*********************************************header*********************************/
.topbar_contactInfo,.topbar_socialLink {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.topbar {
    background: #000000;
    padding: 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.topbar_contactInfoLink,.topbar_socialLinkIcon{
    color: #fff;
    display: inline-block;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    line-break: normal;
}
.topbar_socialLinkIcon {
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #000 !important;
    margin: 0 5px;
}
ul.topbar_socialLink i {
    padding-top: 0;
}
.topbar_contactInfoLink i {
    padding-right: 14px;
    margin: 0;
    padding-top: 0;
}
.topbar_link {
    display: flex;
    justify-content: end;
}
.topbar_linkItems {
    color: #fff !important;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.topbar_linkItems i{
    padding-top: 0;
    margin-right: 10px;
}
.top-nav > ul > li > a,
.quick-contact {
    font-family: 'tahoma_regular';
}
a {color:#0c58ec;}
#head .topRight .submenu a {
    color: #000000;
}
.top-nav.dropdown .cart .product_list_widget, .top-nav.dropdown li ul.submenu {
    background-color: #ffffff;
}
.product_list_widget .pdDesc .quantity,
.product_list_widget .variation {
    font-family: 'tahoma_regular';
    color:#000000;
}
/************************************************Logo wrapper**********************************************/
.logo-wrapper {
    padding: 15px 0;
    background: #fff;
/*    border-top: 3px solid #bcd2cfde;*/
}
.logo-wrapper img{
    max-width: 100%;
}
/************************************************navbar**********************************************/
.navbar-default .navbar-brand{
    padding: 0
}
.custom_navbar .navbar {
    margin-bottom: 0;
    padding:  0px!important;
    min-height: 0px;
}
 .custom_navbarContent .nav>li>a:hover,.custom_navbarContent .nav>li>a:focus {
    background-color:transparent; 
}
.custom_navbarContent .navbar-nav>li>a {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    font-size:18px;
    font-family: "Roboto Slab";
    font-weight:600;
    text-transform:uppercase;
    color:#fff !important;
}
  .custom_navbarContent .navbar-nav>li>a.active{
        color:#9e8f78;
    }
.custom_navbar {
    background: #0c58ec;
}
.custom_navbar .navbar-toggle {
    border: 2px solid #fff;
}
.custom_navbar .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px;
}
/************************************************banner**********************************************/
.banner img{
	width:100%;
}
.banner .banner_image {
    width: 100%;
    height: auto;
    position: relative;
}
.banner_image:after {
    content: '';
    background-image: url(../img/diagonal-lines.png);
    /* background-repeat: no-repeat; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
div#slider .bannerText {
    top: 50%;
    left: 0;
    z-index: 999999999;
    position: absolute;
    width: 40%;
    transform: translateY(-50%);
    padding: 40px 100px;
}
div#slider .bannerText h2{
    color: #105af1;
    font-family:"helvetica neue condensed bold";
    text-transform: uppercase;
    line-height: 1.2;
}
div#slider .bannerText p{
    color: #ffffff;
    font-family:"helvetica neue condensed bold";
    text-transform: uppercase;
    line-height: 1.2;
}
.bannerText .btn-browse{
    background-color: #105af1;
    color: #ffffff;
    font-family:"helvetica neue condensed bold";
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 45px;
    line-height: 1;
    font-size: 18px;
}
@media screen and (max-width: 1200px){
    div#slider .bannerText {
        width: 80%;
    }   
}

@media screen and (max-width: 767px){
    div#slider .bannerText {
        padding: 50px 30px;
    }
}

/*.banner_text {
    top: 15%;
    position: absolute;
    transform: translateY(-15%);
}*/
/*.banner .banner_text h1 {
    color: #c4c0c3;
    font-family: 'EB Garamond';
    font-size: 70px;
    font-weight: 700;

    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
    margin-bottom: 40px;
}*/
/*.banner .banner_text h6 {
    color: #c4c0c3;
    font-family: 'EB Garamond';
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
}
.banner .banner_text p {
    font-family: 'EB Garamond';
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
    color: #000;
}*/
.newsletter {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 7px 0px;
    background: linear-gradient(to right, #333132, #9f9f9f, #333132)
}
.newsletter .signup{
    margin-top: 0;
    align-items: center;
}
.newsletter .label{
    margin-top: 0;
    font-family: 'tahoma_regular';
    font-size: 18px;
}
.signupBlock{
    padding: 7px 0;
    text-align: center;
    background: #6b6b69;
}
.signupBlock label {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
	padding: 0 20px 0 0;
    font-family: 'verdanabold';
    width: auto;
}
.signupBlock input[type="text"], .signupBlock  input[type="email"] {
    padding: 10px 12px;
	margin-right:5px;
	color:#6a6a6a;
    font-family: 'verdanabold';
    line-height: 1;
}
.signupBlock button {
    background: #0c58ec!important;
   /* padding-left: 25px;*/
    color: #fff;
    font-size: 18px;
    font-family: 'verdanabold';
    text-transform: uppercase;
    border: 2px solid #c1c7c9;
/*  padding-right: 25px;*/
    border-radius: 5px;
    padding: 10px 25px; 
    line-height: 1;
}
/******************************************popular category***************************************/
.heading {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'tahoma bold';
	color: #0c58ec!important;
	margin-bottom: 25px;
}
.categories_section {
    padding: 50px 0;
	/*position:relative;
    background-image: url('../img/lines.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;*/
}
.categories_blockHeading  {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'tahoma bold';
    text-align: center;
    padding: 10px;
    background: #0c58ec;
    color: #fff;
}
.categories_blockLines{
	position:absolute;
	bottom:0;
	z-index:-1;
}
.categories_block img{
    height: 307px;
}
.arrow_block,
.arrow-block-without-bg{
    position: relative;
    height: auto;
    width: 100%;
}
.arrow_block::after{
    position: absolute;
    content: '';
    right: 0;
    bottom:0;
    width: 50%;
    background: url('../img/arrows.png'),linear-gradient(263deg, black, transparent);
    background-position: center right;
    background-repeat: no-repeat;
    height: 35px;
}
.arrow-block-without-bg::after{
     position: absolute;
    content: '';
    right: 5px;
    bottom:5px;
    width: 30%;
    background: url('../img/arrows.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20px;
}
/*.arrows-image{
    position: absolute;
    right: 0;
    bottom:0;
    width: 50%;
    background: linear-gradient(263deg, black, transparent);
}
.arrows-image img{
    height: auto;
}*/
.categories_block img,.categories_blockLines img{
	width:100%;
}
.btn-warning.login_form_btn{
    color:#ffffff;
    background-color: #0c58ec;
}

/*buyshell section*/
.buy_sell {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    margin: 0px;
    background-image: url(../img/buy_shell_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.buy_sell .buy_sell_content {
    width: 100%;
    text-align: center;
}
.buy_sell .buy_sell_content h3 {
    font-family: 'tahoma bold';
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
    max-width: 460px;
    text-align: center;
    display: block;
    margin: 0px auto;
}
.buy_sell .buy_sell_content a {
    font-family: 'tahoma_regular';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: #0c58ec;
    padding: 10px 20px;
    border: 3px solid #809d95;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 27px;
    transition: all .3s ease-in-ease;
    letter-spacing: 2px;
}
/*buyshell section ends*/
/*.newArrival_row > .col-md-2{
	width:20%;
}*/
.newArrivalBlock img {
    width: 100%;
}
.newArrivalBlock_heading {
    font-size: 21px;
    font-family: 'tahoma_regular';
    font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
    color: #000 !important;
}
.newArrivalBlock {
    text-align: center;
	margin-bottom: 50px;
}
.newArrivalBlock_para {
    font-size: 18px;
    font-family: 'tahoma_regular';
	margin-bottom: 10px;
	color: #000;
}
.newArrivalBlock_price {
    color: #0c58ec;
    font-weight: bold;
    font-size: 30px;
    font-family: 'tahoma_regular';
}
.newArrival{
	padding:30px 0;
}
.footer_wrapper{
	background:#2c2c2c;
	text-align:center;
	color:#fff;
	position:relative;
}
.footerBlock{

	background-size:cover;
	padding: 60px 0;
    font-family: 'Open Sans', sans-serif;
}
.footerBlock_heading {
    font-size: 28px;
    margin: 15px 0;
	text-transform: uppercase;

}
.footer-item h3{
    text-align: left;
    margin: 0;
    color: #0c58ec;
}
.footer-item h5{
    font-style: italic;
    color:#ffffff;
    font-size: 14px;
}
.footerBlock_subHeading {
    font-size: 24px;
    margin-bottom: 8px;
}
.copyrightBlock {
    background: #000;
    padding: 10px 0;
    font-family: 'tahoma_regular';
    font-size: 18px;
    text-align: center;
}
.copyrightBlock p {
    font-size: 18px;
}
.footer_wrapper:before {
    content: "";
    position: absolute;
    top: -46px;
    background-size: cover;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background: url(../img/lines2.jpg);
    height: 50px;
}
/*********************************************categories page css start************************/
.categories_linkList {
    display: flex;
    /*justify-content: space-between;*/
}
.categories_linkDropdown {
    float: right;
}
.categories_link {
    margin-bottom: 30px;
}
.categories_linkItems a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b3b3b3 !important;
	display:inline-block;
	font-family: 'tahoma_regular';
}
.categories_linkItems a.active,.categories_linkItems a:hover {
    color: #0c58ec!important;
	text-decoration:none;
}
.categories_linkItems{
	position:relative;
    margin: 0 20px 0 0;
}
.categories_linkItems:after {
    content: "/";
    position: absolute;
    right: -10px;
    font-size: 21px;
    top: 50%;
    transform:translateY(-50%);
    font-weight: bold;
	color: #b3b3b3;
}
.categories_linkItems:last-child:after{
	display:none;
}
.categories_linkDropdown {
    float: right;
    font-size: 16px;
    font-weight: bold;
    font-family: 'tahoma_regular';
	color: #b3b3b3;
    border: none;
    outline: none;
}
.categories_block li{
	display:flex;
	justify-content:space-between;
    align-items:center;
}
.categories_block li label{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family: 'tahoma_regular';
    font-weight: normal;
    width: auto;
}
.left_section_wrapper .left_section_select input[type=radio]{
        appearance: none;
    border-radius: 50%;
    background-color: #dedede;
    height: 20px;
    width: 20px;
    border: 5px solid #b3b3b3;
    margin:0 5px 0 0; 
}
.left_section_wrapper .left_section_select  input[type="radio"]:checked{
    border: none;
    background: #0c58ec;
    outline: none;
}
.categories_left_mainHeading {
    font-size: 28px;
    font-weight: bold;
    font-family: 'tahoma bold';
    margin-bottom: 20px;
	    text-transform: uppercase;
    color: #000 !important; 
}
.categories_block li {
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
}
.categories_blockQuantity {
    color: #b3b3b3;
    font-weight: bold;
    font-size: 20px;
    font-family: 'tahoma_regular';
}
.categories_leftHeading {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'tahoma bold';
    margin-bottom: 8px;
    text-align: left;
    color: #000 !important;
}
.categories_block {
    margin-bottom: 25px;
}
.categories_left_searchBar {
    display: flex;
    justify-content: space-between;
	margin-bottom: 30px;
}
.categories_left_searchBar input {
    width: 100%;
    font-size: 18px;
    border: 2px solid #ddd;
    padding: 5px 10px;
    color: #000;
    outline: none;
}
.categories_left_searchBar button {
    background: none;
    font-size: 18px;
    color: #ddd;
    padding: 0 5px;
    outline: none;
    border: none;
}
.customPagination {
    text-align: center;
}
.customPagination a {
    border: none!important;
    color: #0c58ec!important;
    font-weight: bold;
    font-family: 'tahoma_regular';
    font-size: 18px;
}
.customPagination ul li.active a {
    background: none;
    color: #0c58ec!important;
}
/*********************************************responsive************************/
@media screen and (max-width:990px) {
        .custom_navbarContent .navbar-nav>li>a{
            font-size: 14px;
        }

        .form-inline .form-group{
            margin-bottom: 15px;
        }
        .categories_blockHeading{
        font-size: 20px;
        }
        .categories_block img, .categories_blockLines img{
            height: 100%;
        }
    }
@media screen and (max-width:768px){
    .signupBlock label{
        padding: 0;
    }
	.topbar_link {
		justify-content: center;
		margin: 10px 0;
	}
	.topbar_contactInfo {
		display: block;
		text-align:center;
	}
	.topbar_socialLink {
		justify-content: center;
	}
    .banner_text{
        transform: unset;
    }
    .banner .banner_text h6{
        font-size: 15px;
    }
    .banner .banner_text h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .banner .banner_text p{
        font-size: 13px;
    }
    .custom_navbarContent .navbar-nav>li>a{
        font-size: 13px;
        padding-bottom: 0px!important;
    }
    .signupBlock button{
        display: block;
        margin: 10px auto;
    }
    .signupBlock label{
    margin-top: 10px;
    }
    .signupBlock input{
        margin-top: 10px;
    }
    .footerBlock_heading{
        font-size: 20px;
    }
    .footerBlock_subHeading {
        font-size: 20px;}
        .footerBlock{
            padding: 40px 0;
        }
        .copyrightBlock p {
            font-size: 13px;
        }
       
}
/*************************************** additions for design changes as per new theme ************/
.header-top.primary {
    background: linear-gradient(to right, #333132, #9f9f9f, #333132);
    padding: 10px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.header-top.primary >.container> .row{
    display: flex;
    align-items: center;
}
.header-top.primary .quick-contact > i{
    margin-right: 5px;
}
.header-top.primary .quick-contact{
    display: inline-flex;
    align-items: center;    
}
.header-top.primary .quick-contact *{
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.quick-contact a{
    font-size: 15px;
}
.top-nav.dropdown.type2 {
    /* padding-top: 10px; */
    background-color: transparent!important;
}
.header-top .social-links li a:hover{
    background-color: transparent;
   
}
.header-top .social-links li a:hover {
    color:#0c58ec!important;
}
.quick-contact:hover > i{
    background-color:#0c58ec !important ;
    color: #ffffff !important;
}
/* .quick-contact:hover a,
.quick-contact:hover span{
    color: #0c58ec !important;
   

} */
.navbar-default .container{
    flex-wrap: wrap;
    padding: 0;
}
@media screen and (min-width: 992px) {
.navbar-default .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
.navbar-default {
    /* padding: 15px 0 0; */
    background: #ffffff;
}
.navbar-default >.container{
   max-width: 100%;
    padding: 0px;
}
.navbar-default .navbar-header {
    margin-left: 0;
    margin-right: auto;
    padding: 32px 15px 20px;
    width: 100%;
    background: #000000;
}
.navbar-default .navbar-collapse.collapse {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    width: 100%;
    background-color: #0c58ec;
}
.navbar-default .navbar-collapse.collapse .navbarRight{
    margin: 0!important;
    font-family: 'verdanabold';
}
#head .navbar-default .navbar-nav>li{
   margin-right: 36px; 
}
#head .navbar-default .navbar-nav>li:last-child{
    margin-right: 48px; 
 }
#head .navbar-default .navbar-nav>li>a{
    padding: 7px 0 !important;
    font-size: 16px;
    font-family: 'verdanabold';
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
#head .navbar-default .navbar-nav>li>a.current-active, .navbar-nav>li>a:hover, .navbar-nav .dropdown-menu > li > a:hover{
    color: #000000!important;

}
/* #head .navbar-default .nav>li>a{
    padding-right: 0;
    padding-left: 0;
} */
#head .navbar-brand>img{
    width: 550px;
    margin-right: 5px;
}
#head .navbar-header a.navbar-brand {
    font-family: 'verdanabold';
    font-size: 32px;
    color: #000000;
    display: block;
    align-items: center;
}
#head .navbar-header a.navbar-brand h2{
    color: #105af1;
    text-transform: uppercase;
}
#head .navbar-header a.navbar-brand p{
    color: #ffffff;
    text-transform: capitalize;
    margin: 0;
    font-size: 16px;
    font-style: italic;
}
/* #head .navbar-default .navbar-nav>li:first-child>a{
    padding-left: 0px;
}
#head .navbar-default .navbar-nav>li:last-child>a{
    padding-right: 0px;
} */
.slider-wrapper .item{
    background-position: left center;
}
.college-slide .slide-item .bsns-btn a,
.newsletter input[type="submit"],
.btn-gold,
.contact-form .message-sub,
#calendar_grid_view .find_more,
.product-_-summary .btn-set .btn {
    background: #0e58eb;
    /* padding-left: 25px; */
    color: #fff !important;
    font-size: 16px;
    font-family: 'verdanabold';
    text-transform: uppercase;
    border: 1px solid #fff;
    /* padding-right: 25px; */
    border-radius: 0px;
    padding: 10px 25px;
    line-height: 1;
}
.college-slide .slide-item .bsns-btn a:hover,
.newsletter input[type="submit"]:hover,
.btn-gold:hover,
.contact-form .message-sub:hover,
#calendar_grid_view .find_more:hover,
.product-_-summary .btn-set .btn:hover{
    background-color: #0e58eb;
    border-color: #fff;
    opacity: 0.7;
}

.text-box {
    padding: 0px 10px 0 !important;
    border-bottom: 0;
    border: none;
    position: relative;
    margin-bottom: 24px !important;
}

.text-box .title {
    background: #00000057;
    padding: 0;
    margin-top: 0px;
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 0100%;
    text-align: center;
    padding: 5px;
}
#below-main-boxes{
    padding-top: 60px;
}

#below-main-boxes h2{
    font-family:"helvetica neue condensed bold";
    font-size: 45px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#below-main-boxes .text-box .title h3 {
    font-size: 45px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family:"helvetica neue condensed bold";
    text-align: center;
    padding: 0!important;
    color: #fff !important;
   line-height: 1;

}
.text-box .title h3 a{
    color: #fff !important;
}

.boximg img {
    display: block;
    object-fit: cover;
}
#below3 .news-content{
    margin-bottom: 16px;
}
.text-box .readon {
    text-align: right;
    background: none;
    margin-bottom: 0px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 100%;
}
.text-box .readon a.btn {
    display: block;
    background: linear-gradient(263deg, black, transparent);
    width: 50%;
    margin-left: auto;
    text-align: right;
}
.gallery-filter.dark li a, .filter-cat li a{
    color: #000;
    font-size: 18px;
    font-family: 'avenirblack';
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 25px;
    line-height: 1;

}
.gallery-filter.dark li a:hover, .gallery-filter.dark li a.active, .filter-cat li a:hover, .filter-cat li a.active{
    background:#0c58ec;
    border: 2px solid #c1c7c9;
    color:#fff;
}
.travel-wrapper .text-box .title h3 {
    margin: 0 !important;
}
.footer-widget{
    background-color: #000000;
    padding-bottom: 40px !important;
    position: relative;
    border-top:5px solid #0c58ec;
}
.footer-widget h3{
    margin: 15px 0 0 ;
    text-transform: uppercase;
}
.footer-widget p{
    margin: 0;
}

.footer-widget .footer-item > img{
    width: 270px;
    max-width: 100%;
    margin-bottom: 20px;
}
.contact-info li i {
    color: #ffffff;
}
footer.footer {
    background: #0c58ec;
    padding: 7px 0px;
    margin: 0px 0px 0px;
}
.footer #social a{
    color: #000000 !important  ;
    background: none;
}
.footer .copyright{
    text-transform: capitalize!important;
    text-align: center;
    color: #fff !important;
    margin-top: 0;
    font-family: 'tahoma_regular';
    line-height: 1.2;
    font-size: 15px;
}
body .footer-item h4{
    color: #ffffff !important;
    font-family: 'helvetica';
}
.contact-info li span, .footer-item p,.footer-widget a {
    color: #ffffff!important;
    font-family: 'helvetica';
    font-weight: 600;
}
.sidebar .widget-title, .productBlock h3{
    font-family: 'verdanabold';
}

#slider.sitemessage {
    background: linear-gradient(to right, #333132, #9f9f9f, #333132) !important;
    color: #fff !important;
}
#slider.sitemessage p {
    color: #fff !important;
}
.sidebar .newsletter {
    background: #f5f5f5;
}
.sidebar .newsletter .label {
    padding: 10px !important;
    display: block;
    background: #0c58ec;
}
.newsletter .signup input[type="text"]{
    height: auto!important;
}
.newsletter input[type="submit"]{
    height: auto;
    font-size: 18px;
    border-radius: 0;
    font-family: 'verdanabold';
}
/********************* product grid redesign **************/
#home .productBorder {
    padding: 0  0 30px!important;
    width: calc(100% - 15px);
}
.product-category-page .proLists .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
@media screen and (min-width: 1200px) {
.product-category-page .proLists .col-md-3 {
    width: 25% !important;
} 
.product-category-page .proLists .col-md-3:nth-child(4n + 1){
    clear: both;
}   
}
@media screen and (max-width: 991px) {
.product-category-page .proLists .col-md-3:nth-child(2n + 1){
    clear: both;
} 
}
.productBorder {
    height: auto;
    border: none;
    padding: 0 !important;
    background: no-repeat;
}
.productBorder .productBorderHover h4{
    font-size: 21px;
    font-family: 'avenirblack';
    font-weight: bold !important;
    text-transform: uppercase;
    color: #000 !important;

}
.frontinfo h4 a {
    font-size: 21px;
    font-family: 'avenirblack';
    font-weight: bold;
    margin: 20px 0 0;
    text-transform: uppercase;
    color: #fff;
    display: block;
}
.frontinfo .amount {
    color: #0c58ec!important;
    font-weight: bold;
    font-size: 30px;
    font-family: 'tahoma bold';
    line-height: normal;
}
.products .frontinfo h4{
    font-family: 'verdanabold';
    font-size: 20px;
}
.products .frontinfo .amount{
    font-family: 'verdanabold'
}
.productBorder .verticalInner h4 a {
    font-size: 21px;
    font-family: 'avenirblack';
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    color: #000 !important;
}
.productBorder .price del {
    color: #000000;
    font-size: 20px;
    font-family: 'tahoma bold';
    font-weight: bold;
}
.productBorder .price del .amount{
    color:#000000!important;
}
.productBorder .price span.amount {
    color: #0c58ec;
    font-size: 20px;
    font-family: 'tahoma bold';
    font-weight: bold;
}
.productBorder .productMetas a span{
    background-color: #0c58ec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productBorder .productMetas a span i {
    color: #fff !important;
}

ul.page-numbers li a:hover, ul.page-numbers li .current, ul.page-numbers li .current:hover {
    background-color:transparent!important ;
    color:#0c58ec!important;
}
ul.page-numbers li span.current {
    background: none;
    color:  #0c58ec!important;
    font-weight: bold;
}
ul.page-numbers li span,
ul.page-numbers li a,
.isotope-pager .pager  {
    border: none!important;
    color: #b3b3b3!important;
    font-weight: normal;
    font-family: 'tahoma_regular';
    font-size: 18px;
}
/************* product grid redesign end **********/
.productDisplayType a {
    color: #fff !important;
}
.productDisplayType button#part_search_button {
    background: #0c58ec!important;
}
.productDisplayType nav.productViewToggle i{
    color: #0c58ec!important
}
.widget h3 {
    margin: 30px 0px 10px !important;
    font-size: 18px;
    font-weight: bold;
    font-family: 'tahoma bold';
    margin-bottom: 20px;
    text-transform: uppercase;
}       
.cartWidgetInner .buttons >a,
.price-slider-amount a.btn.btn-ash-border,
.sidebar .newsletter input[type="submit"] {
    background: #0c58ec;
    /* padding-left: 25px; */
    color: #fff !important;
    font-size: 14px;
    font-family: 'verdanabold';
    text-transform: uppercase;
    border: 1px solid #0c58ec;
    /* padding-right: 25px; */
    border-radius: 5px;
    padding: 8px 14px;
    line-height: 1;
}  
.cartWidgetInner .buttons >a:hover, .price-slider-amount a.btn.btn-ash-border:hover, .sidebar .newsletter input[type="submit"]:hover{
    background-color: #0c58ec;
    border-color: #0c58ec;
}
.product_list_widget .pdDesc a {
    color: #fff !important;
}
.widgetProduct a {
    color: #000 !important;
}
#go-top {
    color: #fff !important;
    background: #0c58ec !important;
}
.blog-search .search-sub {
    background-color: #0c58ec;
}
.blog-search .search-sub:hover{
    background-color: #0c58ec;
}
#calendar_grid_view .find_more {
    margin-top: 20px;
}
span.sku_wrapper > span,
span.posted_in a,
.overview-tab li a  {
    color:  #000 !important;
}
/******************* light theme color ********************/
html body{
    background: none;
}
h1, h2, h3, h4, h5, h6, p, #bottomblockhead h2{
    color: #000;
}
#homeshop h2, .section-head h2, .product-category-page h2{
    color: #000000!important;
    font-family:"helvetica neue condensed bold";
    text-transform: uppercase;
}
#homeshop h2{
    font-size: 45px;
}
.footer-item a:hover{
    color: #0c58ec!important;
}
.para1 h2, .para1 h3, .para1 p {
    color: #fff !important;
}
.address li, .address li a {
    color: #000 !important;
}
div#calendar_grid_view > div.row > div:nth-child(2) .subhead {
    color: #000 !important;
}
span.current-price, div#storecat h2 > a,
.product-rating,
.choosedate,
.product_meta > span{
    color: #000 !important;
}
.social-share-icons li a{
    border-color: #0c58ec !important;
}
.social-share-icons li a:hover{
    background-color: #0c58ec!important;
}
.social-share-icons li a i{
    color: #0c58ec!important;
}
.social-share-icons li a:hover i {
    color: #ffffff!important;
}
.overview-tab li.active a{
    color: #0c58ec!important;
    font-weight: bold;
    border-color:#0c58ec;
}
.product-_-overview ul {
    color: #000 !important;
}
hr{
    border-color: #ddd;
}
.review-form .input-field .btn-ash-border{
    color:#fff;
    background-color: #0c58ec;
}
.sbHolder .sbSelector {
    background: no-repeat;
    border: 1px solid #ddd;
}
.cartWidget {
    background: none;
    color: #000 !important;
}
.frontinfo h4 a,
.product_list_widget .pdDesc a{
    color: #000!important;
}
.sbHolder .sbSelector {
    background: no-repeat;
    border: 1px solid #ddd;
    color: #777 !important;
}
p.itemrow-all-data,
.course p.itemrow-all-data{
    background: #f1f1f1;
}
.travel-wrapper .text-box{
    background: #f1f1f1 !important;
}
/*********************/
.productBorder .new-tag{
    position: absolute;
    right: 0;
    top:0;
    background-color: #0c58ec;
    color:#fff;
    padding: 5px 10px;
    z-index: 1;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.owl-nav .fa{
    background:#0c58ec!important ;
}
.sidebar .widget-title, .productBlock h3{
    color:#0c58ec;
}
.widgetProduct .media{
    display: flex;
    align-items: center;
}
.social-share-icons li a{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.reviewlist .media-heading{
    color:#0c58ec;
}
.revireRating, .revireRating span.date{
    color:#000!important;
}
.section-head p{
    color:#000;
}
div#calendar_grid_view > div.row > div:nth-child(2) .subhead,
div#calendar_grid_view > div.row > div:nth-child(3) .subhead{
    font-family: 'helvetica neue condensed bold';
    text-transform: uppercase;
    font-size: 36px;
}
/****************First shot page**********************/
.product-_-summary h2,
.social-share-icons h4{
    font-family:"helvetica neue condensed bold";
}
.product-value{
    font-family: 'tahoma_regular';
}
/**********************shop page css ************************/
.cartWidgetInner .pdDesc a{
    font-family: 'tahoma_regular';
}
.widget.cartWidget .cartWidgetInner .buttons a {
    font-family: 'verdanabold';
    font-size: 13px;
    padding: 8px 12px;
}
aside.widget .widgetProduct .media-body{
    width: 50%;
    max-width: 100%;
    display :block
}
@media (min-width: 992px){
    .container {
        min-width: 100%;
    }
    .navbar-default .navbar-collapse.collapse{
        padding: 0 15px;
    }
}

@media (min-width: 768px){
    .container {
        min-width: 100%;
    }
    .navbar-default .navbar-collapse.collapse{
        padding: 0 15px;
    }
}
@media screen and (max-width:767px){
    div#slider .bannerText {
        width: 100%;
    }
    .bannerText p{
    line-height:1.2;
    font-size:14px;
    }
    .header-top.primary >.container> .row{
        flex-wrap: wrap;
    }
    #head .navbar-header a.navbar-brand {
        padding: 15px 15px;
        font-size: 20px;
        margin-right: auto;
    }
    #head .navbar-brand>img {
        width: 250px;
    }
    .content-area.travel2,
    .product-wrapper{
        padding: 30px 0px;
    }
    #below-main-boxes   {
        justify-content: center;
    }
    #below-main-boxes h2,
    #homeshop h2{
        font-size: 26px;
        text-align: center;
    }
    .navbar-default  .navbarRight{
        margin: 0!important;
        padding: 0 15px;
    }
    #head .navbar-default .navbar-nav>li {
        margin-right: 0px; 
    }
    #head .navbar-default .navbar-nav>li>a{
        padding: 15px !important;
    }
    #head .navbar-default .navbar-nav>li>a, .dropdown-menu > li > a{
        color: #000;
    }
    #head .navbar-default .navbar-nav>li>a.current-active, .navbar-nav>li>a:hover, .navbar-nav .dropdown-menu > li > a:hover{
        color: #0c58ec !important;
    }
    .product-category-page .col-md-9 {
        width: 100%;
    }
    .footer-widget .footer-item > img {
        width: 250px;
    }
    .navbar-default .navbar-header{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .footer .copyright{
        margin-bottom: 0;
    }
    .header-top.primary{
        padding: 10px 0;
    }
    .quick-contact a,
    .header-top.primary .quick-contact *,
    .contact-info li span, .footer-item p, .footer-widget a{
        font-size: 13px;
    }
    .header-top.primary .quick-contact{
        margin-bottom: 5px;
    }
    .slider-wrapper .one-slide-anim .item{
        height: 400px;
    }
    #below-main-boxes .text-box .title h3{
        font-size: 26px !important;
    }
    
}
